extends ../layout/common-user.pug
//- a(href="/users/see" style='text-decoration: none; color: #2fabd5; font-family: Arial, sans-serif;font-size: 30px; font-weight: bold; padding: 25px') Xem Users
//- a(href="/users/add" style='text-decoration: none; color: #2fd547; font-family: Arial, sans-serif;font-size: 30px; font-weight: bold; padding: 25px') Thêm User
//- a(href="/users/modify" style='text-decoration: none; color: #a02fd5; font-family: Arial, sans-serif;font-size: 30px; font-weight: bold; padding: 25px') Update User
//- a(href="/users/delete" style='text-decoration: none; color: #dd3737; font-family: Arial, sans-serif;font-size: 30px; font-weight: bold; padding: 25px') Xóa Users
