extends ../layout/common-user.pug
block content
	h1(style="font-family: Arial, sans-serif;" class="text-primary") List user
	table(class="table table-striped shadow-sm p-3 mb-5 bg-white rounded",style="text-align: left")
		tr
			th(scope="col") User
		each user in users
			tr
				td(scope="row")
					span= user.name