extends ../layout/common-book.pug
//- block content
//-   nav(class="nav justify-content-center")
//-     a(href="/books/see" style='text-decoration: none; color: #2fabd5; font-family: Arial, sans-serif;font-size: 30px; font-weight: bold; padding: 25px') 
//-       button(type="button" class="btn btn-primary") Xem Sách
//-     a(href="/books/add" style='text-decoration: none; color: #2fd547; font-family: Arial, sans-serif;font-size: 30px; font-weight: bold; padding: 25px') 
//-       button(type="button" class="btn btn-success") Thêm Sách
//-     a(href="/books/modify" style='text-decoration: none; color: #a02fd5; font-family: Arial, sans-serif;font-size: 30px; font-weight: bold; padding: 25px') 
//-       button(type="button" class="btn btn-danger") Sửa tiêu đề
//-     a(href="/books/delete" style='text-decoration: none; color: #dd3737; font-family: Arial, sans-serif;font-size: 30px; font-weight: bold; padding: 25px') 
//-       button(type="button" class="btn btn-warning") Xóa
