html
  head
    title Technical Studio
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
  body
    nav(class="nav justify-content-center")
      block nav
      a(href="/" class="nav-link active") 
        button(type="button" class="btn btn-info") Home
      a(href="/products"  class="nav-link active") 
        button(type="button" class="btn btn-warning") Product
      a(href="/" class="nav-link active") 
        button(type="button" class="btn")
          if user
            span= user.name
    block content
    script(src="https://kit.fontawesome.com/fa4b40adeb.js" crossorigin="anonymous")