html
  head
    title Technical Studio
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
  body
    nav(class="nav justify-content-center")
      block nav
      a(href="/" class="nav-link active") 
        button(type="button" class="btn btn-info") Home
      a(href="/" class="nav-link active") 
        button(type="button" class="btn btn-dark")
          if user
            span= user.name
    block content 