html
  head
    title Technical Studio
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
  body
    nav(class="nav justify-content-center")
      block nav
      a(href="/" class="nav-link active") 
        button(type="button" class="btn btn-info") Home
      if user
        a(href="/profile" class="nav-link active") 
          button(type="button" class="btn")
            if user
              span= user.name
      if amount
        a(href="/products/add_all" class="nav-link active") 
          button(type="button" class="btn btn-secondary  ") Thuê sách &nbsp;
            span(style="color: red")= amount
    block content
    script(src="https://kit.fontawesome.com/fa4b40adeb.js" crossorigin="anonymous")