html
  head
    title Technical Studio
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    //- link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    //- link(rel="stylesheet", href="custom.css")
  body
    block content